
.laser-image {
  text-align: center;
  width: 1000px;
  height: 600px;
  margin-top:50px;
  padding-bottom:50px;
}
.items > img {
  width: 600px;
  height: 450px;
}
.centered-line {
  width: calc(100% - 80px);
  height: 2px;
  background-color: white;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 100px;
}
.title {
  color: #F5F5F5;
  font-size: 50px;
  margin-bottom: 15px;
  margin-left: 80px;
}
.container {
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
}

.left, .right {
  width: 45%;
  padding: 10px;
}

.left {
  background-color: black;
  color: #F5F5F5;
  margin-top: 75px;
  font-size: 25px;
  margin-left: 12px;
}

.right {
  background-color: black;
}

